@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

body {
    background: linear-gradient(0deg, rgba(26, 47, 63, 0.25) 0%, rgba(26, 47, 63, 0.25) 100%), url("../../resources/images/bg.jpeg"), lightgray 50% / cover no-repeat;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    background-position: center;
}

.toz-ec-d>svg>circle {
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 10px;
}

.toz-ec-d>svg>circle:nth-child(2) {
    stroke: #fff;
    stroke-dasharray: 468;
    stroke-linecap: round;
}

.splide__arrow {
    width: 1.2rem !important;
}

.splide__pagination {
    bottom: -1.8em !important;
}

@media (max-width: 767px) {
    body {
        background-size: contain;
        background-repeat: repeat;
        background-position: top;
    }
}


.splide__arrow--next{
    right: -1em !important;
}

.splide__arrow--prev{
    left: -1em !important;
}

.toz-timer {
    font-size: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .toz-ecd {
    display: flex;
    height: 200px;
    flex-direction: column;
  }

  .toz-ec-d {
    display: flex;
    width: 180px;
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: relative;
  }

  .toz-ec-d>span {
    color: #E6DD92;
    -webkit-text-stroke: 2px #10253A;
    display: flex;
    letter-spacing: 5px;
    flex-direction: column;
    display: flex;
    z-index: 1;
  }

  .toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .toz-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
